body, html { background-color: #fcfcec; }
body {
  color: #2f2f2d;
  font-size: 18px;
  text-shadow: #ffffff 1px 1px 1px;
}
body h2 {
  color: #2f400d;
  margin-bottom: 13px;
}
body h3 {
  color: #608d06;
  margin-bottom: 0;
}
body h4 {
  color: #2f400d;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
body p { line-height: 26px; }
body a {
  color: #608d06;
  font-weight: bold;
  text-decoration: underline;
}
body a:hover { color: #2f400d; }
body .hr {
  background-color: #cbc797;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  margin: 27px 0 20px 0;
  padding: 0;
  width: 100%;
}
body .button {
  background-color: #7bc104;
  border-radius: 5px;
  color: #fcfceb;
  display: block;
  float: left;
  margin: 10px 0;
  padding: 7px 30px;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
body .button:hover {
  background-color: #2f400d;
  color: #fcfceb;
}
body sup {
  vertical-align: super;
  font-size: 10px;
}
#top-bar {
  background: #2b4307 url('/media/images/top-bar.gif') top left repeat;
  border-bottom: 1px solid #ffffff;
  height: 20px;
}
#top-bar .inner {
  height: 21px;
  border-bottom: 1px solid #c3c5a2;
}
#header {
  color: #2f400d;
  font-weight: bold;
  padding: 40px 0;
  padding-bottom: 31px;
  position: relative;
}
#header .donate-here {
  position: absolute;
  right: 0;
  top: -22px;
}
#header .grid-8 ul {
  margin: 0;
  margin-top: 6px;
}
#header .grid-8 ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
#header .grid-8 ul li a {
  background: transparent url('/media/images/social-media-icons.png') 0 0 no-repeat;
  display: block;
  float: left;
  height: 52px;
  margin-right: 10px;
  width: 52px;
}
#header .grid-8 ul li a.flickr { background-position: 0 -52px; }
#header .grid-8 ul li a.flickr:hover { background-position: 0 0; }
#header .grid-8 ul li a.facebook { background-position: -52px -52px; }
#header .grid-8 ul li a.facebook:hover { background-position: -52px 0; }
#header .grid-8 ul li a.twitter { background-position: -104px -52px; }
#header .grid-8 ul li a.twitter:hover { background-position: -104px 0; }
#content .grid-8 .hr { margin: 22px 0; }
#content .grid-8 h4 { margin-bottom: 5px; }
#content .grid-8 p { margin-bottom: 5px; }
#content .mailing-list label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
#content .mailing-list .submit { float: right; }
#content .mailing-list .submit-button { display: none; }
#content .mailing-list input {
  background-color: #e5e5ce;
  border: 0;
  border-left: 1px solid #dcddbb;
  border-right: 1px solid #dcddbb;
  border-top: 1px solid #cacb96;
  border-radius: 5px;
  color: #608d06;
  font: bold 14px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  margin: 0;
  margin-bottom: 15px;
  padding: 10px 12px;
  width: 374px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#content .speaking ul { margin-top: 22px; }
#content .speaking ul li {
  list-style-type: none;
  margin: 0;
  margin-top: 15px;
}
#content .speaking ul li h5 {
  line-height: 25px;
  margin-bottom: 0;
}
#content .speaking ul li p {
  font-size: 14px;
  line-height: 22px;
}
#content .speaking ul li p a { font-weight: normal; }
#footer {
  padding-bottom: 75px;
  text-align: center;
}
#footer a { margin-right: 20px; }
